<button class="mt-2 btn btn-secondary" (click)="temizle()">Temizle</button>
<table class="table">
    <thead>
        <tr>
            <th>Sicil</th>
            <th>Adı</th>
            <th>Soyadı</th>
            <th>Resim</th>
        </tr>
    </thead>
    <tbody>
        @for (p of personeller(); track p.id) {
        <tr>
            <td>{{p.id}}</td>
            <td>{{p.adi}}</td>
            <td>{{p.soyadi}}</td>
            <td><img class="resim" src="{{p.resim}}" /></td>
        </tr>
        }
    </tbody>
</table>